src/main/java/com/dys/javaee/webservice/CsyxzmWebServiceImpl.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tns="http://www.xywdzkj.com/CsyxzmWebServiceImpl/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  name="CsyxzmWebServiceImpl"
                  targetNamespace="http://www.xywdzkj.com/CsyxzmWebServiceImpl/">
    <wsdl:types>
        <xsd:schema targetNamespace="http://www.xywdzkj.com/CsyxzmWebServiceImpl/">
            <xsd:element name="dfp">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="dfp01" type="xsd:long"/>
                        <xsd:element name="dfp02" type="xsd:string"/>
                        <xsd:element name="dfp03" type="xsd:string"/>
                        <xsd:element name="dfp04" type="xsd:string"/>
                        <xsd:element name="dfp05" type="xsd:long"/>
                        <xsd:element name="dfp06" type="xsd:string"/>
                        <xsd:element name="dfp07" type="xsd:string"/>
                        <xsd:element name="dfp08" type="xsd:string"/>
                        <xsd:element name="dfp09" type="xsd:string"/>
                        <xsd:element name="dfp10" type="xsd:string"/>
                        <xsd:element name="dfp11" type="xsd:string"/>
                        <xsd:element name="dfp12" type="xsd:date"/>
                        <xsd:element name="dfp13" type="xsd:string"/>
                        <xsd:element name="dfp14" type="xsd:string"/>
                        <xsd:element name="dfp15" type="xsd:long"/>
                        <xsd:element name="dfp16" type="xsd:long"/>
                        <xsd:element name="dfp17" type="xsd:string"/>
                        <xsd:element name="dfp18" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="result" type="xsd:string"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="addRequest">
        <wsdl:part element="tns:dfp" name="dfp"/>
    </wsdl:message>
    <wsdl:message name="addResponse">
        <wsdl:part element="tns:result" name="result"/>
    </wsdl:message>
    <wsdl:portType name="CsyxzmWebService">
        <wsdl:operation name="add">
            <wsdl:input message="tns:addRequest"/>
            <wsdl:output message="tns:addResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="CsyxzmWebServiceSOAPBinding" type="tns:CsyxzmWebService">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="add">
            <soap:operation soapAction="http://www.xywdzkj.com/CsyxzmWebServiceImpl/#add"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="CsyxzmWebServiceImpl">
        <wsdl:port binding="tns:CsyxzmWebServiceSOAPBinding" name="CsyxzmWebServicePort">
            <soap:address location="http://192.168.1.100:7002/csyxzm/CsyxzmWebService4113"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>